name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v3

        # Instalación de Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

        # Instalación de dependencias
      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

        # Ejecutar tests
      - name: Ejecutar tests
        run: |
          pytest
